---
import type { CollectionEntry } from 'astro:content';
import Typography from './Typography.astro';

interface Props {
  data: CollectionEntry<"projects">;
}

const project = Astro.props.data.data;
const hasAdditionalInfo = project.period || project.stack;
const isFinished = Boolean(project.period && project.period.end)
---

<article class="project">
  <a class="project-image honey" data-hold="200" data-effect="slide" data-left="32px" href={project.link}>
    <img class:list={{
      rounded: project.rounded
    }} src={`/projects/${project.img}`} alt={project.name} />
  </a>
  <div class="project-description honey" data-effect="slide" data-right="32px">
    <Typography class="project-title" variant="heading-m" color="primary" as="h2">
      <a href={project.link}>{project.name}</a>
    </Typography>
    <Typography color="secondary">{project.description}</Typography>
    {hasAdditionalInfo && (
      <dl>
        {project.period && (
          isFinished ? (
            <dt>Период</dt>
            <dd>{project.period.start} — {project.period.end}</dd>
          ) : (
            <dt>Начало</dt>
            <dd>{project.period.start}</dd>
          )
        )}
        {project.stack && (
          <dt>Стек</dt>
          <dd>{project.stack}</dd>
        )}
      </dl>
    )}
  </div>
</article>

<style lang="scss">
.project {
  max-width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  gap: 36px;

  &-image {
    width: 100%;
    max-width: 560px;
  }

  &-description {
    position: relative;
    top: -5px;
  }

  img {
    max-width: 560px;
    box-shadow: 0 8px 24px -3px rgb(0 0 0 / 10%);

    &.rounded {
      border-radius: 10px;
    }
  }

  & + & {
    margin-top: 51px;
  }
}

dl {
  display: grid;
  grid-template-columns: 80px 1fr;
  font: var(--typography-text-s);
  letter-spacing: var(--typography-text-s_spacing);
  color: var(--color-content-secondary);
  margin: 26px 0 0;
}

dd {
  margin: 0;
}

@media (max-width: 900px) {
  .project {
    flex-direction: column;
    gap: 24px;

    img {
      width: 100%;
    }
  }

  p {
    max-width: 575px;
  }
}
</style>
