mixin menuItem(item, url)
  if menuContext.isActive(item.key, url)
    if menuContext.isChild(url)
      a.menu-itemContent.__current.__child (href=item.url) #{item.title} sub
    else
      span.link.menu-itemContent.__current #{item.title}
  else
    a.menu-itemContent.link(href=item.url) #{item.title}

mixin menu(url)
  nav.columns-single
    ul.menu-list
      each item in menuContext.items
        li
          +menuItem(item, url)
